@font-face {
  font-family: "robotocondensed";
  src: local("robotocondensed"),
  url("../fonts/robotocondensed-regular.woff2") format("woff"),
  url("../fonts/robotocondensed-regular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
